<% layout("./layouts/boilerplate")  -%>
<div style="padding-top: 10px;"></div>
<div class="alert alert-danger " style="font-size: 20px; padding: 35px; font-weight: 600    ;" role="alert">
    <%= message %>
  </div>
  <div style="padding: 250px 0px;">

  </div>